#content .back {
    background: #24323d;
    width: 382px;
    height: auto;
    margin: 0 auto;
    padding: 30px 25px 30px 30px;
    border-radius: 4px;
    color: #fff;
    font: 14px sans-serif;
}

#content .back #d7-subscription-form {
    width: 382px;
}

#content .back #page-title {
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin: 12px 0 2px;
}

#content .back .input_field .form-text {
    display: inline-block;
    height: 42px;
    width: 100%;
    margin: 12px 0;
    box-sizing: border-box;
    color: #798790;
    padding-left: 10px;
    border: 1px solid #798790;
    background: none;
}

#content .back .input_field label {
    display: none;
}

#content .back .input_field .form-text:focus {
    border: 1px solid #1ab188;
}

#content .back .subscribe_button .form-submit {
    height: 57px;
    width: 100%;
    color: #fff;
    font-size: 22px;
    background: #1ab188;
    border: none;
}

#content .back .subscribe_button .form-submit:hover {
    background: #09a077;
    cursor: pointer;
}

#content .back .short.input_field {
width: 182px;
display: inline-block;
}

.back #first.short.input_field {
    margin-right: 14px;
}

#messages .section.notices {
    width: 100%;
    padding: 0;
}
